<nav id="sidebar-nav-links">
  {% if site.sidebar_home_link %}
    <a class="home-link {% if page.url == '/' %} active{% endif %}"
        href="{{ "/" | relative_url }}">Home</a>
  {% endif %}
  {% if site.sidebar_blog_link %}
    <a class="page-link {% if page.url == site.sidebar_blog_link %} active{% endif %}"
	href="{{ site.sidebar_blog_link | relative_url }}">Blog</a>
  {% endif %}

  {% comment %}
    The code below dynamically generates a sidebar nav of pages with
    `sidebar_link: true` in the front-matter. See readme for usage.
  {% endcomment %}

  <a class="sidebar-nav-links" href="https://dkchae.github.io#contacts">Contact</a>
  <a class="sidebar-nav-links" href="https://dilab.hanyang.ac.kr/Publications.html">Publications</a>
  <a class="sidebar-nav-links" href="https://dkchae.github.io#awards">Honors & Awards</a>
  <a class="sidebar-nav-links" href="https://dilab.hanyang.ac.kr/Projects.html">Projects</a>
  {% include custom-nav-links.html %}
</nav>
